# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Ignoriere CMake Debug-Build-Ordner
cmake-build-debug/

# Optional: weitere gängige CMake-/CLion-Outputs
cmake-build-release/
CMakeFiles/
CMakeCache.txt
*.cmake
build/
*.xml
